$height = 16px
.c-progressBar
  width 150px
  height $height
  border-radius 5px
  border 1px solid $col-silver
  overflow hidden
  position relative
  display inline-block
  &__main
    font-size 10px
    font-weight bold
    height 100%
    display block
    width 0
    color black
    line-height $height - 2
    position absolute
    text-align end
    padding-right 5px