.c-status

  &__beacon
    width 12px
    height 12px
    display inline-block
    border-radius 50%
    &--true
      background-color #2fc92f
    &--false
      background-color red
  &__txt
    display inline-block
    width 30px
  .fa-external-link
    font-size 10px