mixin gtmNoScript
    // Google Tag Manager (noscript)
    noscript
        | <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MD7FVBSS"
        | height="0" width="0" style="display:none;visibility:hidden"></iframe>
    // End Google Tag Manager (noscript)