include ../components/mixins/head
include ../components/mixins/gtmNoScript
doctype html
html(lang="{{ site.lang | default: 'en-US' }}")
    +head(true)
    body(data-js-gtm)
        +gtmNoScript
        include ../components/layout/template/default
