name: build-search-indices

on:
  pull_request:
    types: [closed]
    branches:
      - main

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write
  pages: write
  pull-requests: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false


jobs:
  buildSearch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

        # Uses the private access token from above link
        with:
          token: ${{ secrets.GH_SUBMODULE_SECRET }}

      - name: Pull latest changes
        run: git pull origin main

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm ci

      - name: Build search
        run: npm run search

      # Check if there are any changes before attempting to commit and push changes
      - name: Check for changes
        id: check_changes
        run: |
          if git diff --exit-code; then
            echo "No changes to commit."
            echo "::set-output name=changes::false"
          else
            echo "::set-output name=changes::true"
          fi

      - name: Commit & push changes
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions - build search index"
          git status
          git add .
          git commit -m "Update site-search-data.json"
          git push origin main
