.bg--err
  background-color $col-err
  background linear-gradient(1deg,rgba(255, 0, 0, 1) 0%, rgba(250, 157, 157, 1) 100%)

.bg--warn
  background-color $col-warn
  background linear-gradient(1deg,rgba(255, 165, 0, 1) 0%, rgba(255, 187, 84, 1) 100%)

.bg--good
  background-color $col-good
  background linear-gradient(1deg,rgba(47, 201, 47, 1) 0%, rgba(107, 237, 107, 1) 100%)